@model PaginatedProjectViewModel
@{
    string pageNumber = Context.Request.Query["PageNumber"].ToString();
    int currentPage = String.IsNullOrEmpty(pageNumber) ? 1 : int.Parse(pageNumber);
}

<div class="row">
    @foreach (var item in Model.PaginatedProjects)
    {
        <div class="project col-md-6">
            <a asp-action="Get" asp-controller="Projects" asp-route-projectId="@item.Id" class="m-2">
                <div class="card">
                    <div class="card-header">
                        <div style="display:flex;">
                            <b class="text-dark" style="margin-right:auto;overflow:auto;">
                                @item.Name
                            </b>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text text-secondary">@item.ShortDescription</p>
                    </div>
                </div>
            </a>
        </div>
    }
</div>

@if (Model.TotalPages != 0)
{
    <partial name="~/Views/Shared/Partials/_PaginationPartial.cshtml" />
}