@model ICollection<ProjectViewModel>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="project col-md-6">
            <a asp-action="Get" asp-controller="Projects" asp-route-projectId="@item.Id" class="m-2">
                <div class="card">
                    <div class="card-header">
                        <div style="display:flex;">
                            <b class="text-dark" style="margin-right:auto;">
                                @item.Name
                            </b>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text text-secondary">@item.ShortDescription</p>
                    </div>
                </div>
            </a>
        </div>
    }
</div>