@model ICollection<ProjectViewModel>
@{
    ViewData["Title"] = "List all projects.";
}

<link rel="stylesheet" href="~/css/Projects/GetAll.css" />

<div class="row">
    <div class="col md-6 text-center">
        <h3>Projects</h3>
    </div>
</div>
<div class="container projects-all">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-8 col-8">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-4">
            <a class="btn btn-primary openModal text-white" style="cursor: pointer;"
               onclick="showInPopup('@Url.Action("Create","Projects", null, Context.Request.Scheme)','Create new Project')">
                + New project
            </a>
        </div>
    </div>
    <div id="view-all">
        <partial name="_ViewAll" />
    </div>
</div>

@section Scripts {
    <script src="~/js/Projects/GetAll.js"></script>
}