@model ICollection<ProjectViewModel>
@{
    ViewData["Title"] = "List all projects.";
}

<link rel="stylesheet" href="~/css/Projects/GetAll.css" />

<div class="row">
    <div class="col md-6 text-center">
        <h3>Projects</h3>
    </div>
</div>
<div class="container projects-all">
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-8 col-8">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4 col-4">
            <a class="btn btn-primary" asp-action="Create" asp-controller="Projects"> + New project</a>
            <a class="btn btn-primary openModal text-white"
               onclick="showInPopup('@Url.Action("Create","Projects", null, Context.Request.Scheme)','Create new Project')">
                + New project
            </a>
        </div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#form-modal">
            Launch demo modal
        </button>
    </div>
    <div id="view-all">
        <partial name="_ViewAll" />
    </div>
</div>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
@section Scripts {
    <script>

        //$(function () {
        //    $("#loaderbody").addClass('hide');

        //    $(document).bind('ajaxStart', function () {
        //        $("#loaderbody").removeClass('hide');
        //    }).bind('ajaxStop', function () {
        //        $("#loaderbody").addClass('hide');
        //    });
        //});

        showInPopup = (url, title) => {
            $.ajax({
                type: 'GET',
                url: url,
                success: function (res) {
                    $('#form-modal .modal-body').html(res);
                    $('#form-modal .modal-title').html(title);
                    $('#form-modal').modal('show');
                    // to make popup draggable
                }
            });
        }

        jQueryAjaxPost = form => {
            try {
                $.ajax({
                    type: 'POST',
                    url: form.action,
                    data: new FormData(form),
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        if (res.isValid) {
                            $('#view-all').html(res.html)
                            $('#form-modal .modal-body').html('');
                            $('#form-modal .modal-title').html('');
                            $('#form-modal').modal('hide');
                        }
                        else
                            $('#form-modal .modal-body').html(res.html);
                    },
                    error: function (err) {
                        console.log(err)
                    }
                })
                //to prevent default form submit event
                return false;
            } catch (ex) {
                console.log(ex)
            }
        }

        //jQueryAjaxDelete = form => {
        //    if (confirm('Are you sure to delete this record ?')) {
        //        try {
        //            $.ajax({
        //                type: 'POST',
        //                url: form.action,
        //                data: new FormData(form),
        //                contentType: false,
        //                processData: false,
        //                success: function (res) {
        //                    $('#view-all').html(res.html);
        //                },
        //                error: function (err) {
        //                    console.log(err)
        //                }
        //            })
        //        } catch (ex) {
        //            console.log(ex)
        //        }
        //    }

        //    //prevent default form submit event
        //    return false;
        //}
    </script>
}