td {
    border: 0px solid #dee2e6 !important;
}

#table-nav {
    border-radius: 20px 20px 0px 0px;
}

.sorting {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.th-header {
    display: flex;
    align-items: flex-end;
}

.th-header-title {
    display: flex;
    align-items: center;
}

.tooltips {
    position: relative;
    display: inline-block;
}

    .tooltips .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: 100%;
        left: 50%;
        margin-left: -60px;
    }

    .tooltips:hover .tooltiptext {
        visibility: visible;
    }

.th-1 {
    width: 7%
}

.th-2 {
    width: 46%
}

.th-3 {
    width: 10%
}

.th-4 {
    width: 15%
}

.th-5 {
    width: 22%
}

.dropdown-add-button {
    display: inline-block
}

.deleted-form {
    display: inline-block;
}
