@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To AgileMS</h1>
</div>

<div>
    <div class="card">
        <div class="card-body cb1">
            What is scrum
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            What is agile
        </div>
    </div>
</div>

<div class="notifyjs-corner" style="top: 0px; right: 0px;"></div>

@section Scripts {
<script>
    $(document).ready(function () {
        $(".notifyjs-corner").notify("Access granted", "success");
    });
</script>
}