@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To AgileMS</h1>
</div>

<div>
    <div class="card">
        <div class="card-body cb1">
            What is scrum
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            What is agile
        </div>
    </div>
</div>

