@page
@model ResetEmailConfirmationModel
@{
    ViewData["Title"] = "Reset email confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    We have sent you a confirmation link. Please visit the link to login.
</p>
