<script type="text/javascript" src="~/lib/tinymce/tinymce.min.js" asp-append-version="true"></script>
<script type="text/javascript" asp-append-version="true">
    tinyMCE.init({
        selector: '#textarea-tinemce',
        plugins: 'image paste table link code media"',
        themes: 'advanced',
        languages: 'en'
    });
</script>

<h1>Editor</h1>
<hr />
<br />

<form method="post" asp-controller="Editor" asp-action="post">
    <textarea name="mceContent" id="textarea-tinemce">
    </textarea>
    <hr />
    <button class="btn btn-primary" type="submit">Submit</button>
</form>