<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/leftNav.css" asp-append-version="true" />
</head>
<body>
    <header>
        <partial name="~/Views/Shared/Partials/_TopNavPartial.cshtml" />
    </header>

    <partial name="~/Views/Shared/Partials/_LeftNavPartial.cshtml" />

    <div class="container" id="containermain">
        <main role="main" id="main-container" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* Modal element *@
    <div class="modal" tabindex="-1" role="dialog" id="form-modal"
         aria-labelledby="trailModalLabel" aria-hidden="true" style="margin-top:3rem;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>

    @* Loading animation *@
    <div class="loaderbody hide" id="loaderbody">
        <div class="loader"></div>
    </div>

    <partial name="~/Views/Shared/Partials/_CookieConsentPartial.cshtml" />

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-cookie/jquery.cookie.min.js" asp-append-version="true"></script>
    <script src="~/js/layout/leftNav.js" asp-append-version="true"></script>
    <script src="~/js/Shared/Shared.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js" asp-append-version="true"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @RenderSection("Scripts", required: false)
</body>
</html>
