@model BurndownViewModel

@{
    ViewData["Title"] = "Durndown chart";
}
<script src="~/js/Board/BurndownChart.js" asp-append-version="true"></script>

<div style="width:800px;"><canvas id="burndown43"></canvas></div>
<hr />
@section Scripts{
<script src="~/js/Board/Burndown.js" asp-append-version="true"></script>
}