@model BurndownViewModel

@{
    ViewData["Title"] = "Durndown chart";
}


<script asp-append-version="true">
    // Sum elements of an array up to the index provided.
    function sumArrayUpTo(arrData, index) {
        var total = 0;
        for (var i = 0; i <= index; i++) {
            if (arrData.length > i) {
                total += arrData[i];
            }
        }
        return total;
    }

    function showBurnDown(elementId, burndownData, scopeChange = [], daysInSprint) {

        var speedCanvas = document.getElementById(elementId);

        Chart.defaults.global.defaultFontFamily = "Arial";
        Chart.defaults.global.defaultFontSize = 14;
        const totalTasksInSprint = burndownData[0];
        console.log(burndownData[0])
        const idealHoursPerDay = totalTasksInSprint / (daysInSprint.length - 1);
        var data = [];
        for (var i = 0; i < daysInSprint.length; i++) {
            data.push(Math.round(totalTasksInSprint - (idealHoursPerDay * i) + sumArrayUpTo(scopeChange, i)))
        }

        var speedData = {
            labels: daysInSprint, // array of days eg. [1, 2, 3, 4, 5, 6]
            datasets: [
                {
                    label: "Burndown",
                    data: burndownData,
                    fill: false,
                    borderColor: "#EE6868",
                    backgroundColor: "#EE6868",
                    lineTension: 0,
                },
                {
                    label: "Ideal",
                    borderColor: "#6C8893",
                    backgroundColor: "#6C8893",
                    lineTension: 0,
                    borderDash: [5, 5],
                    fill: false,
                    data: data
                },
            ]
        };

        var chartOptions = {
            legend: {
                display: true,
                position: 'top',
                labels: {
                    boxWidth: 80,
                    fontColor: 'black'
                }
            },
            scales: {
                yAxes: [{
                    ticks: {
                        min: 0,
                        max: Math.round(burndownData[0])
                    }
                }]
            }
        };

        var lineChart = new Chart(speedCanvas, {
            type: 'line',
            data: speedData,
            options: chartOptions
        });
    }
</script>

<div style="width:800px;"><canvas id="burndown43"></canvas></div>
@section Scripts{
    <script>
        var path = window.location.pathname.split('/')
        var projectId = path[path.length - 1]
        var url = window.location.origin + '/Boards/GetBurndown/' + projectId + '/' + window.location.search
        console.log(url)
        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: 'https://localhost:5001/Boards/GetBurndownData/7?sprintId=11',
                contentType: false,
                processData: false,
                success: function (res) {
                    var days = res.daysInSprint
                    var tasks = res.tasksRemaining
                    var scope = res.scopeChanges
                    showBurnDown(
                        "burndown43",
                        tasks,
                        scope,
                        days,
                    );
                }
            })
        });
    </script>
}