@model BurndownViewModel

@{
    ViewData["Title"] = "Durndown chart";
}
<script src="~/js/Board/BurndownChart.js" asp-append-version="true"></script>

<div style="width:800px;"><canvas id="burndown43"></canvas></div>
<hr />
<h2 id="velocity">Velocity: <span id="velocity-data"></span> </h2>

@section Scripts{
    <script src="~/js/Board/Burndown.js" asp-append-version="true"></script>
}