@using Microsoft.AspNetCore.Http.Features

@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}
<style>
    #cookieConsent {
        position: absolute;
        bottom: 0;
        width: 100vw;
        z-index: 999;
        max-height: 6vh;
    }

    .cookie-text {

    }

    @@media screen and (max-width: 560px) {
        #cookieConsent {
            max-height: 10vh;
        }
    }
</style>

@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-info alert-dismissible fade show border-top text-muted" role="alert">
        <p class="cookie-text">
            Use this space to summarize your privacy and cookie use policy. <a asp-page="/Privacy">Learn More</a>.
            <button type="button" class="accept-policy close" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
                <span aria-hidden="true">Accept</span>
            </button>
        </p>
    </div>
    <script>
        (function () {
            var button = document.querySelector("#cookieConsent button[data-cookie-string]");
            button.addEventListener("click", function (event) {
                document.cookie = button.dataset.cookieString;
            }, false);
        })();
    </script>
}