@{
}

<nav class="navbar fixed-left navbar-light navbar-light border-right" 
     style="position: fixed;width: 25%;height: 44.6rem;border-left: 1px solid;background: #F8F8F8;top: 3.7rem; align-items: start !important;">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">NameOfProject</a>

        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">nowhere</a>
            </ul>
        </div>
    </div>
</nav>