@using Microsoft.AspNetCore.Identity
@using Data.Models.Users
@inject SignInManager<User> SignInManager

@if (SignInManager.IsSignedIn(User) && Url.ActionContext.RouteData.Values["projectId"] != null)
{
    <div id="mySidenav" class="sidenav">
        <a href="#">Wiki</a>
        <a class="nav-link" asp-area="" asp-controller="WorkItems"
           asp-action="GetAll" asp-route-projectId="@this.ViewContext.RouteData.Values["projectId"]">
            Work Items
        </a>
        <a href="#">Sprints</a>
        <a href="#">Board</a>
    </div>
}