@model SprintInputModel

@{
    ViewData["Create"] = "Create sprint";
}

<h4>Create Sprint</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" type="date" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DueDate" class="control-label"></label>
                    <input asp-for="DueDate" type="date" class="form-control" />
                    <span asp-validation-for="DueDate" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <div class="input-daterange input-group" id="datepicker">
                    <div class="input-group-prepend">
                        <label asp-for="InputStartDate" class="input-group-text"></label>
                    </div>
                    <input type="text" class="input-sm form-control" asp-for="InputStartDate" />
                    <div class="input-group-prepend">
                        <label asp-for="InputDueDate" class="input-group-text"></label>
                    </div>
                    <input type="text" class="input-sm form-control" asp-for="InputDueDate" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts{
    <script>
        $('.input-daterange').datepicker({
            format: "dd/mm/yyyy",
            maxViewMode: 0,
            autoclose: true,
            todayHighlight: true
        });
    </script>
}
