@{
    ViewData["Title"] = "Sprints overview";
}

<h3 class="text-center">Sprints</h3>

<style>
    .table {
        min-width: 45rem;
        box-shadow: 0 0.01rem 0.25rem rgba(0, 0, 0, 0.1);
        border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    }
</style>

<div class="sprint" id="sprints-container">
    <div><a class="btn btn-info">+ Add Sprint</a></div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" class="col-sm-8 col-md-5">Name</th>
                <th scope="col">Project</th>
                <th scope="col">Team</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
            </tr>
        </thead>
        <tbody>
            <tr class="clickable-row">
                <th scope="row">1</th>
                <td>Initial</td>
                <td>AgileMs</td>
                <td>AgileMsTeam</td>
                <td>09.11.2020</td>
                <td>15.11.2020</td>
                <td><a id="clickable-row-1" href="https://www.google.com/">gg</a></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Some work done</td>
                <td>AgileMs</td>
                <td>AgileMsTeam</td>
                <td>16.11.2020</td>
                <td>22.11.2020</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Getting thing nice and clean</td>
                <td>AgileMs</td>
                <td>AgileMsTeam</td>
                <td>23.11.2020</td>
                <td>29.11.2020</td>
            </tr>
        </tbody>
    </table>
</div>