@{ 
    ViewData["Title"] = "Sprints overview";
}

<h3 class="text-center">Sprints</h3>

<div class="sprint">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Project</th>
                <th scope="col">Team</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Initial</td>
                <td>AgileMs</td>
                <td>AgileMsTeam</td>
                <td>09.11.2020</td>
                <td>15.11.2020</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Some work done</td>
                <td>AgileMs</td>
                <td>AgileMsTeam</td>
                <td>16.11.2020</td>
                <td>22.11.2020</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Getting thing nice and clean</td>
                <td>AgileMs</td>
                <td>AgileMsTeam</td>
                <td>23.11.2020</td>
                <td>29.11.2020</td>
            </tr>
        </tbody>
    </table>
</div>
<hr />